@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v12/NGSpv5_NC0k9P_v6ZUCbLRAHxK1E1yysd0mm_00.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

.notie-container {
  font-size: 2rem;
  height: auto;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2147483647;
  box-sizing: border-box;
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 750px) {
  .notie-container {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 1.2rem;
  }
}
.notie-background-success {
  background-image: linear-gradient(to right, #11998e, #38ef7d);
}
.notie-background-warning {
  background-color: #d6a14d;
}
.notie-background-error {
  background-image: linear-gradient(to right, #6a040f, #d00000);
}
.notie-background-info {
  background-color: #4d82d6;
}
.notie-background-neutral {
  background-color: #a0a0a0;
}
.notie-background-overlay {
  background-color: #fff;
}
.notie-textbox {
  color: #fff;
  padding: 20px;
}
.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
}
.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483646;
}
.notie-button {
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.notie-element {
  color: #fff;
  padding: 10px;
}
.notie-element-half {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.notie-element-third {
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
}
.notie-alert {
  cursor: pointer;
}
