@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v12/NGSpv5_NC0k9P_v6ZUCbLRAHxK1E1yysd0mm_00.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

body {
  margin: 0;
  font-family: Heebo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  width: 300px;
  font-size: 1.5rem;
  background-color: #222;
  direction: rtl;
}

.form__group {
  position: absolute;
  padding: 15px 0 0;
  margin-top: 40%;
  height: 80%;
  width: 85%;
  overflow: hidden;
}
.item {
  position: relative;
  margin-bottom: 5%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding-top: 18%;
  padding-bottom: 2%;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 58%;
  width: 100%;
}
.form__label {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus,
.form__field:valid {
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  direction: rtl;
}
.form__field:focus ~ .form__label,
.form__field:valid ~ .form__label {
  position: absolute;
  top: 30%;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 50px;
  font-size: 1.3em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  overflow: hidden;
}
.bn31:hover {
  color: #00a84f;
}
.bn31:hover .bn31span {
  align-items: center;
  background: #222;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.8s ease;
  width: 100%;
  overflow: hidden;
}
.bn31 .bn31span {
  background: transparent;
}
.bn31:active {
  transform: scale(0.97);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  text-align: center;
}

#salt {
  width: 30%;
  height: 30%;
  position: relative;
  bottom: 37%;
  background: #9b9b9b;
  z-index: 10;
  -webkit-mask: url("assets/SaltIcon.png") center/contain no-repeat;
  mask-repeat: no-repeat;
  mask: url("assets/SaltIcon.png") center/contain;
}

.fas {
  margin-left: 0.5em;
}

#confettiDiv {
  position: absolute;
  z-index: 10;
  height: 75%;
  width: 10%;
  top: 25%;
  left: 34%;
}
